* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    color:black;
    background-color:whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h4 {
    font-size: 20pt;
    font-weight: bold;
    margin: 30px;
}

table {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

table p {
    text-align: center;
}

table img {
    width: 50%;
    height: 50%;
}

.table-data {    
    width: 75%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-data thead {
    text-align: center;
}

.table-data th, .table-data td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-data tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-data tr:hover {
    background-color: #ddd;
}

.table-data th {
    background-color: mediumslateblue;
}

input {
    width: 50%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    resize: none;
}

button {
    text-align: center;
    color: white;
    font-size: 10pt;
    background-color: mediumslateblue;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(105, 104, 104, 0.5);
}

footer {
    font-size: 12pt;
    color: black;
}

.fa {
    background-color: silver;
}

.menu {
    text-align: left;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
}

.menu a:hover {
    background-color: cornsilk;
    color: black;
}

.menu a.active {
    background-color: lightgreen;
}

.title-data {
    justify-content: center;
}

.items p {
    font-size: 14pt;
    justify-content: center;
}

.box-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    margin: auto;
}

.box-content p {
    font-size: 16pt;
    font-weight: bold;
}

.items {
    width: 300px;
    height: 100px;
    text-align: center;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    border: 0px dashed gray;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(105, 104, 104, 0.5);
}


@media all and (max-width: 1000px) {
    .items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
}
  
@media all and (max-width: 670px) {
    header {
        font-size: 16pt;
    }

    .items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
}

@media all and (max-width: 480px) {
    header {
        font-size: 14pt;
    }

    .box-content p {
        font-size: 12pt;
    }

    .items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
}